@model MercDevs_ej2.Models.Descripcionservicio


<!--  se corrige la vista   -->
<h1>Estas seguro de que quieres borrar esto?</h1>

<div>
    <h4>Descripcion de Servicio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            Id Servicio
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServicioIdServicioNavigation.IdServicio)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdDescServ" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-action="Index"><button class="btn btn-success">Volver a lista</button></a>
    </form>
</div>
