@model MercDevs_ej2.Models.Descripcionservicio

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Recepcionequipoes/Index.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Descripcionservicio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServicioIdServicioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServicioIdServicioNavigation.IdServicio)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdDescServ">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
