@model MercDevs_ej2.Models.Descripcionservicio

@{
    ViewData["Title"] = "Details";
}

<h1>Descripcion De Servicio</h1>

<div>
    <h4></h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            Id de Servicio
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServicioIdServicioNavigation.IdServicio)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdDescServ"><button class="btn btn-warning">Guardar</button></a> |
    <a asp-action="Index"><button class="btn btn-success">Volver a lista</button></a>
</div>
