@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Se supone que no toque nada aquí, pero me pareció que le faltaba algo bonito al proyecto :D</p>
<img src="~/srcImg/Algo.png" alt="Alternate Text" />
