@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div class="row justify-content-center">

    <div class="col-5 mt-5">
        <div class="card login-logout-card">
            <div class="nav nav-tabs cards-header-tabs">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class=" nav-item">
                        <a class="nav-link" href="/Identity/Account/login">
                         Login    
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Identity/Account/Register">
                        Registrarse    
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>