@model MercDevs_ej2.Models.Diagnosticosolucion

@{
    ViewData["Title"] = "Borrar";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Borrar-Diagnostico</title>
</head>
<body>

    <h3>¿estas seguro de que quieres eliminar esto?</h3>
    <div>
    <h4>Diagnostico / Solucion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Descripcion  Diagnostico
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionDiagnostico)
        </dd>
        <dt class = "col-sm-2">
        Descripcion Solucion
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionSolucion)
        </dd>
        <dt class = "col-sm-2">
            Id De Ficha Tecnica
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdFichaTecnicaNavigation.IdFichaTecnica)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdDiagnosticoSolucion" />
        <input type="hidden" asp-for="IdFichaTecnica" />
        <input type="submit" value="Borrar" class="btn btn-danger" />
    </form>
        <a asp-action="Index"><button class="btn btn-secondary">volver a la lista</button></a>

</div>
</body>
</html>
