@model MercDevs_ej2.Models.Diagnosticosolucion

@{
    ViewData["Title"] = "Detalles";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Diagnostico / Solucion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Descripcion de Solucion
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionDiagnostico)
        </dd>
        <dt class = "col-sm-2">
            Descripcion de Servicio
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionSolucion)
        </dd>
        <dt class = "col-sm-2">
            Id de Ficha Tecnica
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdFichaTecnicaNavigation.IdFichaTecnica)
        </dd>
    </dl>
</div>
<div>

        <a href="@Url.Action("Edit", "Fichatecnica", new { id = Model.IdFichaTecnica })" class="btn btn-primary">Editar</a>
        <a asp-action="Index"><button class="btn btn-secondary">volver a la lista</button></a>
    </div>
</body>
</html>
